@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
}

main {
    background-color: #ccc;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.section {
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    visibility: hidden;
}

header {
    display: grid;
    grid-template-columns: 20% 30%;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: fit-content;
    position: fixed;
    padding: 20px 80px;
    background-color: #fff;
    z-index: 999;
}

header .menu-bars {
    display: none;
}

header .links a {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
}

header h2 {
    display: inline-block;
    font-family: "Nunito", sans-serif;
}

.contact {
    display: grid;
    margin-top: 244px;
    position: fixed;
    z-index: 999;
    padding: 5px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-template-rows: 40px 30px 25px 35px;
    justify-content: center;
    align-items: center;
}

.contact svg {
    width: 20px;
    transition: all .3s ease-in-out;
}

.contact svg:hover {
    fill: #007bff;
}

.Home {
    display: grid;
    grid-template-columns: 50% 60%;
    justify-content: space-between;
    padding: 0 100px;
    overflow: hidden;
    height: 85%;
}

.Home p:first-child {
    color: rgb(0, 110, 255);
    font-family: "Nunito", sans-serif;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.Home h1.name {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    margin-bottom: 5px;
    border-right: 2px solid transparent;
    overflow: hidden;
    animation: typer 2s steps(11);
    white-space: nowrap;
}

@keyframes typer {
    0% {
        width: 0;
    }

    100% {
        width: 214px;
    }
}

.Home h3 {
    font-family: "Ubuntu Sans", sans-serif;
}

.Home .me {
    margin: 10px 0 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.Home button {
    padding: 5px;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 25px;
    border: 2px solid transparent;
    width: 125px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    height: 50px;
}

.Home .cv-down-btn {
    color: #fff;
    background-color: rgb(0, 110, 255);
    filter: drop-shadow(0 0 10px rgb(0, 110, 255));
    z-index: 0;
}

.Home .cont-me-btn {
    background-color: transparent;
    border: 2px solid rgb(0, 110, 255);
    margin-left: 50px;
}

.Home .cv-down-btn:hover {
    background-color: rgb(0, 46, 105);
    filter: drop-shadow(0 0 5px rgb(0, 46, 105));
}

.Home .cont-me-btn:hover {
    color: #fff;
    background-color: rgb(0, 110, 255);
    filter: drop-shadow(0 0 10px rgb(0, 110, 255));
}

.Home .right-side {
    margin-top: 200px;
}

.Home .left-side {
    margin-top: 150px;
}

.Home .left-side img {
    clip-path: polygon(20% 0px, 100% 0, 100% 100%, 0% 100%);
    width: 717px;
    margin-top: -80px;
}

.bac-white {
    background-color: #fff;
}

.About-Me {
    padding: 160px 250px 0 250px;
}

.About-Me h2 {
    margin: 0 0 20px -20px;
    font-family: "Roboto Mono", monospace;
    color: #000;
}

.About-Me p {
    font-family: Arial, Helvetica, sans-serif;
}

.About-Me h3 {
    margin-top: 20px;
    font-family: "Ubuntu Sans", sans-serif;
}

.About-Me ul {
    list-style: none;
    margin: 10px 0 0 20px;
    font-family: sans-serif;
}

.About-Me ul li {
    font-weight: bold;
}

.About-Me ul li p {
    font-weight: normal;
    margin: 5px 0 15px 15px;
}
.Projects {
    padding: 85px 70px 0 70px;
}
.Projects h2 {
    font-family: "Ubuntu Sans", sans-serif;
}

/* Laptop */

@media screen and (max-width: 1024px) {
    header {
        grid-template-columns: 20% 50%;
    }

    header .links {
        display: grid;
        grid-template-columns: 20% 20% 30% 20%;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
    }

    header .links a {
        margin-left: 0;
    }

    .Home {
        grid-template-columns: 60% 40%;
        height: 90%;
    }

    .Home .right-side {
        margin-top: 120px;
    }

    .About-Me {
        padding: 110px 150px 0 150px;
    }
}

/* Tablet */

@media screen and (max-width: 768px) {
    header {
        grid-template-columns: 30% 60%;
    }

    .Home {
        padding: 0 67px;
        height: 90%;
        grid-template-columns: 100% 0;
    }

    .Home .right-side {
        margin-top: 150px;
    }

    .Home .left-side {
        display: none;
    }

    .About-Me {
        padding: 105px 130px 0 120px;
    }
}

/* Mobile large */

@media screen and (max-width: 425px) {
    header {
        display: grid;
        grid-template-columns: 50% 10%;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        padding: 15px 40px;
    }

    header .links {
        display: grid;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        position: absolute;
        background-color: #fff;
        width: 100%;
        margin: 80px 0 0 0;
        overflow: hidden;
        transition: all .3s ease-in-out;
        height: 30px;
        transform: scaleY(0);
        transform-origin: top;
    }

    header .links a {
        display: inline-block;
    }

    header img {
        display: none;
    }

    header .menu-bars {
        display: inline-block;
        background-color: transparent;
        transition: all .3s ease-in-out;
        border: none;
    }

    header .menu-bars .bar {
        background-color: #000;
        width: 30px;
        border-radius: 50px;
        height: 3px;
        margin-top: 5px;
        transition: all .3s ease-in-out;
    }

    .links.open-links {
        transform: scaleY(1);
    }

    .Home {
        padding: 20px 40px 30px 40px;
        height: fit-content;
    }

    .Home .right-side {
        margin-top: 80px;
    }

    .contact {
        transform: scale(.8);
        transform-origin: left;
    }

    .About-Me {
        padding: 70px 20px 0 30px;
        width: 99.9vw;
        height: 99.9vh;
    }

    .About-Me * {
        transform: scale(0.9);
    }

    .About-Me h2 {
        margin: 5px 0 0 -20px;
    }

    .About-Me h3 {
        margin-top: 10px;
    }

    .About-Me ul {
        margin: 0 0 0 20px;
        transform: scale(1);
    }

    .About-Me ul li p {
        margin-bottom: 10px;
    }
    header h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    .Home .right-side {
        transform: scale(.9);
        margin-top: 70px;
    }

    .Home {
        padding: 0 25px;
    }

    .About-Me h2 {
        margin-top: 0;
    }

    .About-Me {
        padding-top: 60px;
    }
}

@media screen and (max-width: 320px) {
    header {
        grid-template-columns: 60% 20%;
    }

    header .links {
        grid-template-columns: 15% 12% 21% 20%;
    }

    header .links a {
        text-transform: none;
    }

    .Home .right-side .btn {
        transform: scale(.9);
    }

    .Home .right-side .btn:last-child {
        margin-left: 15px;
    }

    .About-Me {
        padding-top: 20px;
        padding-bottom: 5px;
        height: fit-content;
    }
}